@model Book
<div class="text-center">
    <h1 class="display-4">Yazarın En'leri</h1>

    <h4>*Çavdar Tarlasında Çocuklar</h4>
    <a asp-action="Details" asp-controller="Book" class="">      
        <img src="/Image/1.jpg" width="200" height="250" alt="" />
        <p></p>
    </a>
    <h4>*Bir Bilim Adamının Romanı</h4>
    <a asp-action="Details" asp-controller="Book" class="">
        <img src="/Image/2.jpg" width="200" height="250" alt="" />
        <p></p>
    </a>
    <h4>*Mass Effect: Revelation</h4>
    <a asp-action="Details" asp-controller="Book" class="">     
        <img src="/Image/3.jpg" width="200" height="250" alt="" />
    </a>
</div>



